




@keyframes alver {
    100% {
        transform: translate(-5.2rem, -1.3rem) rotate(-90deg);
        opacity: 1;
    }
}

.leftVertical {
    position: absolute;
    top: 50%;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    left: 0;
    transform: translate(-5.2rem, 9.3rem) rotate(-90deg);
    opacity: 0;
    animation: alver 1.5s forwards .4s;
}

.leftVertical img {
    width: 1rem;
    margin-left: 1.5rem;
    filter: invert();
    transition: .3s ease-in-out;
    transform: rotate(90deg);
}

.leftVertical img:hover {
    scale: 1.5;
}

@keyframes arver {
    100% {
        transform: translate(5.2rem, -1rem) rotate(-90deg);
        opacity: 1;
    }
}

.rightVertical {
    position: absolute;
    top: 50%;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    right: 0;
    transform: translate(5.2rem, 9rem) rotate(-90deg);
    opacity: 0;
    animation: arver 1.5s forwards .8s;
}

@media (max-width: 850px) {
    .leftVertical {
        margin-left: -1.5rem;
        margin-top: 15vh;
    }

    .rightVertical {
        margin-right: -1.5rem;
        margin-top: -15vh;
    }

    .lottieAnim {
        width: 160vw;
        max-width: 800px;
        margin-top: -2rem;
    }

    .dateHero img {
        width: 50vw;
        max-width: 300px;
    }
}










.sliderCard {
   
    
    width: 800px;
    height: 560px;
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
    box-shadow: 3px 6px 21px 0 rgb(0 0 0 / 51%);
}

.sliderCard img {
    width: 100%;
   padding: 2%;
    object-fit: cover;
    transition: .5s;
    
}

.sliderCardOverlay {
    background: linear-gradient(180deg, rgba(34, 22, 46, 0) 0%, rgba(34, 22, 46, 1) 100%);
    content: " ";
    bottom: 0;
    width: 800px;
    height: 560px;
    display: block;
    position: absolute;
}

.sliderCardText {
    bottom: 0;
    position: absolute;
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

.sliderCardText>div:first-of-type {
    font-size: 1.1rem;
    margin-right: 1.5rem;
    font-weight: normal;
    color: #B53FA1;
    margin-bottom: -0.3rem;
    line-height: 1.2rem;
}

.sliderTextLine {
    display: inline-block;
    width: 0;
    height: 0.3rem;
    border-radius: 0.1rem;
    margin-right: 0;
    transform: translateY(-0.4rem);
    background: #B53FA1;
    transition: .5s;
}

.sliderCard:hover .sliderTextLine {
    width: 1.8rem;
    margin-right: 0.5rem;
}

.sliderCard:hover img {
    scale: 1.1;
}

.swiperWrap {
    width: 1000px;
}









.proNights {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding-top: 8rem;
    gap: 3rem;
}

.proNightsTitle {
    width: 800px;
    
}

.proNightsTitle>div {
    white-space: nowrap;

}

.proNightsTitle>div:nth-of-type(1) {
    font-weight: bold;
    font-size: 4rem;
    line-height: 5rem;
}

.proNightsTitle>div:nth-of-type(2) {
    font-weight: bold;
    font-size: 2rem;
    color: #B53FA1;
    margin-bottom: 1rem;
}

.proNightsTitle>div:nth-of-type(3) {
    opacity: 0.75;
    line-height: 1.5rem;
}
.proNightsTitle1 {
    margin-top: 5%;
    width: 790px;
    
}

.proNightsTitle1>div {
    white-space: nowrap;

}

.proNightsTitle1>div:nth-of-type(1) {
    font-weight: bold;
    font-size: 3rem;
    line-height: 5rem;
}

.proNightsTitle1>div:nth-of-type(2) {
    font-weight: bold;
    font-size: 2rem;
    color: #B53FA1;
    margin-bottom: 1rem;
}

.proNightsTitle1>div:nth-of-type(3) {
    opacity: 0.75;
    line-height: 1.5rem;
}
.proNightsTitle2 {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 650px;
    
}

.proNightsTitle2>div {
    white-space: nowrap;

}

.proNightsTitle2>div:nth-of-type(1) {
    font-weight: bold;
    font-size: 3rem;
    line-height: 5rem;
}

.proNightsTitle2>div:nth-of-type(2) {
    font-weight: bold;
    font-size: 2rem;
    color: #B53FA1;
    margin-bottom: 1rem;
}

.proNightsTitle2>div:nth-of-type(3) {
    opacity: 0.75;
    line-height: 1.5rem;
}
.swiperWrapPro {
    width: 100vw;
}

.proCardsWrap {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.proCard {
    border-radius: 9%;
    box-shadow: 3px 6px 21px 0 rgb(0 0 0 / 51%);
    margin-bottom: 3rem; /* Adjust margin as needed */
    transform: translate3d(0, 0, 0);
    text-align: justify;
}
.proCardOverlay {
    /* border-radius: 50%; */
    background: linear-gradient(rgba(253, 49, 71, 0), #B53FA1);
    transform: translateY(350px);
    height: 350px;
    transition: .5s;
}

.proCard .sliderCardText {
    transition: .5s;
}

.proCard:hover .sliderCardText {
    transform: translateY(-130px);
    color: white;
}

.proCard:hover .proCardOverlay {
    transform: translateY(130px);
}

.proCard .sliderTextLine {
    background: white;
}

.proCard:hover .sliderCardText>div:first-of-type {
    color: white;
}

.proCard:hover img {
    filter: blur(5px);
}

.proCardDesc {
    transform: translateY(0px);
    transition: .5s;
    margin: 0 2rem;
    font-size: min(3.4vw, 2rem);
}

.proCard:hover .proCardDesc {
    transform: translateY(-140px);
}

@media (max-width: 1050px) {
    .proCardsWrap {
        justify-content: center;
        gap: 1.5rem;
    }

    .proNightsTitle {
        width: 90vw;
    }

    .proNightsTitle>div:nth-of-type(1) {
        font-weight: bold;
        font-size: 5rem;
        line-height: 4rem;
    }

    .proNights {
        margin-bottom: -7.4rem;
    }
}


.contact {
    margin: 0 auto;
    display: flex;
    margin-top: 1rem;
    padding-top: 9rem;
    flex-direction: column;
    align-items: center;
    width: 615px;
    font-size: 1.05rem;
}

.contact img {
    width: 615px;
    margin-bottom: -1.8rem;
}

.contact textarea {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px;
    padding: 24px 33px;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: #c3bace;
    background-color: #2b1d36;
    border: none;
    border-radius: 0;
    outline: 0;
    cursor: text;
    filter: drop-shadow(0 3px 7px rgba(14, 8, 18, .44));
    resize: vertical;
}

.contact input {
    position: relative;
    width: 100%;
    margin: 0 0 10px;
    padding: 24px 33px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: calc(63px - (48px - 2px));
    color: #c3bace;
    background-color: #2b1d36;
    border: none;
    border-radius: 0;
    outline: 0;
    cursor: text;
    box-sizing: border-box;
    filter: drop-shadow(0 3px 7px rgba(14, 8, 18, .44));
}

.contact textarea::placeholder,
.contact input::placeholder {
    color: #c3bace;
}

.textArea {
    width: 100%;
    height: fit-content;
    position: relative;
}

.textArea::after {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    height: 0.25rem;
    transform-origin: left;
    transform: scaleX(0);
    background-color: #B53FA1;
    transition: .5s cubic-bezier(.8, .18, .25, .69);
    pointer-events: none;
}

.textArea:hover::after {
    transform: scaleX(1);
}

.nameemail {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 0.1rem;
    margin-top: -0.3rem;
    width: 100%;
}

.contactHeader {
    font-weight: bold;
    font-size: 7rem;
    margin-bottom: -1rem;
}

.contactBar {
    content: "";
    width: 100%;
    height: 0.9rem;
    border-radius: 0.2rem;
    background: #B53FA1;
    margin-bottom: -0.5rem;
}

.contact button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.contactAlert {
    opacity: 0.75;
    border-left: 0.4rem solid #00d26a;
    padding-left: 0.7rem;
    margin-bottom: 0.5rem;
    align-self: flex-start;
}

@media (max-width: 650px) {
    .contact {
        width: 90vw;
        margin-top: 7rem;
        padding-top: 7rem;
        margin-bottom: -3rem;
    }

    .nameemail {
        flex-direction: column;
        gap: 0.1rem;
        margin-top: -0.35rem;
    }

    .contactHeader {
        font-size: 18vw;
        margin-bottom: 0.4rem;
        margin-top: 1.5rem;
    }

    .contactBar {
        height: 2.5vw;
        margin-bottom: -1rem;
    }
}

.sponsorTitle {
    font-size: 3rem;
    font-weight: bold;
    color: #B53FA1;
}

.sponsorTitle:first-of-type {
    margin-top: 0;
}

.sponsorTitle br {
    display: none;
}

@media (max-width: 675px) {
    .sponsorTitle {
        font-size: 2rem;
        text-align: center;
        line-height: 2rem;
    }

    .sponsorTitle span {
        font-size: 2.5rem;
    }

    .sponsorTitle br {
        display: unset;
    }
}